.news {
  margin-bottom: 76px;

  @include media-w($lg) {
    margin-bottom: 60px;
  }

  @include media-w($md) {
    margin-bottom: 54px;
  }

  @include media-w($xs) {
    margin-bottom: 48px;
  }

  &__top {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include media-w($md) {
      margin-bottom: 17px;
    }

    @include media-w($xs) {
      flex-direction: column;
    }
  }

  &__link {
    position: relative;
    padding: 13px 5px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    color: $green-900;
    border-radius: 3px;
    outline: 0;
    transition: box-shadow 0.3s, color 0.3s;

    &::before {
      content: "";
      position: absolute;
      right: 5px;
      bottom: 8px;
      left: 5px;
      height: 2px;
      background-color: $green-900;
    }

    @include media-w($xs) {
      padding-top: 9px;
    }

    &:focus {
      box-shadow: 0 0 0 2px $green-900;
    }

    &:hover {
      color: $green-800;
      border-color: $green-800;
    }

    &:active {
      box-shadow: 0 0 0 2px $green-800;
      color: $green-800;
      border-color: $green-800;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @include media-w($md) {
      flex-direction: column;
      max-width: 410px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__item {
    flex-basis: 410px;
    width: 100%;

    @include media-w($md) {
      flex-basis: auto;
      margin-right: auto;
      margin-left: auto;
    }

    &:not(:last-child) {
      margin-right: 30px;

      @include media-w($md) {
        margin-right: auto;
        margin-bottom: 30px;
      }

      @include media-w($xs) {
        margin-bottom: 15px;
      }
    }
  }
}