.top-product {
  padding-top: 72px;
  letter-spacing: 0.03em;
  margin-bottom: 72px;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__mix-filter {
    margin-bottom: 48px;
  }

  &__grid {
    align-self: stretch;
    margin-bottom: 48px;
    display: grid;
    grid-template: auto / repeat(4, 1fr);
    grid-gap: 28px 30px;
  }

  &__button {
    padding: 9px 23px;
    color: $green-900;
    background-color: $white;
    border: 1px solid $green-900;

    &:hover {
      color: $green-900;
      background-color: $green-100;
    }

    &:active {
      color: rgba($green-900, 0.5);
    }
  }
}