.footer {
  position: relative;
  z-index: 1;
  color: $white;
  background-color: $dark-800;

  &__top {
    padding-top: 30px;
    margin-bottom: 15px;

    @include media-w($md) {
      padding-top: 25px;
      margin-bottom: 24px;
    }
  }

  &__container {
    @include media-w($md) {
      padding: 0;
    }
  }

  &__logo {
    margin-bottom: 18px;

    &:hover {
      background-color: $dark-500;
    }

    @include media-w($md) {
      margin: 0 auto 10px;
      display: flex;
    }
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;

    @include media-w($md) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__subscription {
    flex-basis: 300px;
    margin-right: 30px;
    padding-top: 13px;

    @include media-w($md) {
      order: 1;
      flex-basis: auto;
      margin-right: 0;
      padding: 27px 10px 0;
    }
  }

  &__text {
    margin-bottom: 15px;
    display: block;
    line-height: 1;
    @include line-clamp(1);
  }

  &__nav {
    margin-right: 30px;

    @include media-w($md) {
      align-self: stretch;
      margin-right: 0;
      padding: 10px;
      border-top: 1px solid rgba($white, 0.1);
      border-bottom: 1px solid rgba($white, 0.1);
    }
  }

  &__menu {
    max-width: 500px;
    grid-auto-flow: column;
    grid-template: repeat(3, auto) / repeat(3, auto);
    grid-gap: 0 60px;

    @include media-w($lg) {
      grid-template: repeat(4, auto) / repeat(2, auto);
      grid-gap: 0 30px;
    }

    @include media-w($md) {
      max-width: 266px;
      margin: 0 auto;
    }
  }

  &__contact {
    max-width: 220px;
    flex-shrink: 0;

    @include media-w($md) {
      order: -1;
      max-width: none;
      padding: 0 15px 20px;
    }
  }

  &__address {
    margin-bottom: 12px;
  }

  &__social {
    @include media-w($md) {
      justify-content: center;
    }
  }

  &__bottom {
    border-top: 1px solid rgba($white, 0.1);
  }

  &__bottom-inner {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-w($md) {
      flex-direction: column-reverse;
    }
  }

  &__copy {
    text-transform: uppercase;
    @include line-clamp(1);

    @include media-w($md) {
      padding-top: 24px;
    }
  }
}