.social {
  display: flex;
  flex-wrap: wrap;

  &__item:not(:last-child) {
    margin-right: 12px;
  }

  &__link {
    display: flex;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    @extend %animation-inline;

    svg {
      width: 32px;
      height: 32px;
      fill: $white;
    }
  }
}