.nav {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 24px;
  }
}

.logo {
  min-width: 200px;
  max-width: 200px;
  display: inline-block;
  border-radius: 5px;

  &__img {
    object-position: left;
    object-fit: contain;
  }
}

.dropdown {
  position: relative;
  z-index: 1;

  &__btn {
    position: relative;
    padding: 16px 48px 15px 61px;
    font-weight: 600;
    white-space: nowrap;
    color: $green-900;
    background-color: $white;
    border: none;
    border-radius: 6px;
    outline: 0;
    transition: background-color 0.3s, box-shadow 0.3s;
  }

  &__btn::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 18px;
    width: 25px;
    height: 17px;
    background-image: url("../images/icons/nav.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__btn::after {
    content: "";
    position: absolute;
    top: 23px;
    right: 18px;
    width: 8px;
    height: 4px;
    background-image: url("../images/icons/arrow-down.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.3s;
  }

  &__btn:focus {
    box-shadow: inset 0 0 0 3px $dark-500;
  }

  &__btn:hover,
  &__btn--active {
    background-color: $green-200;
  }

  &__btn:active {
    box-shadow: inset 0 4px 4px rgba($black, 0.5);
  }

  &__btn--active {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &__btn--active::after {
    transform: scale(-1);
  }

  &__list {
    display: none;
    position: absolute;
    width: 100%;
    background-color: $white;
    border: 1px solid $silver-400;
    border-radius: 0 0 6px 6px;
  }

  &__list--active {
    display: block;
  }

  &__item:not(:last-child) {
    border-bottom: 1px solid rgba($silver-600, 0.3);
  }

  &__link {
    padding: 15px 24px;
    display: block;
    @extend %lato-16;
    line-height: 1.2;
    color: $black;
    border-left: 3px solid transparent;
    outline: 0;
    transition: color 0.3s, border-left-color 0.3s, box-shadow 0.3s;
  }

  &__link:focus {
    box-shadow: 0 0 0 3px $dark-500;
  }

  &__link:hover {
    color: $green-900;
    border-left-color: $green-900;
  }

  &__link:active {
    box-shadow: inset 0 4px 4px rgba($black, 0.5);
  }
}

.form {
  display: flex;

  &__input {
    position: relative;
    z-index: 2;
    flex-grow: 1;
    border: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  &__button {
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    color: $white;
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

.icon {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 12px;
  }

  &__btn {
    position: relative;
    width: 50px;
    height: 50px;
    padding: 0;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    border-radius: 3px;
  }

  &__btn:hover {
    background-color: rgba($white, 0.1);
  }

  &__btn--user {
    background-image: url("../images/icons/user.svg");
  }

  &__btn--favorite {
    background-image: url("../images/icons/favorite.svg");
  }

  &__btn--cart {
    background-image: url("../images/icons/cart.svg");
  }

  &__number {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 18px;
    height: 18px;
    font-weight: 600;
    font-size: 10px;
    line-height: 1.8;
    color: $red-900;
    background-color: $white;
    border-radius: 9px;
  }
}

.button {
  padding: 12px 24px;
  display: inline-block;
  @extend %lato-bold;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: $white;
  background-color: $green-900;
  border-radius: 6px;
}

.address {
  font-style: normal;

  li:not(:last-child) {
    margin-bottom: 18px;
  }

  a {
    padding-left: 4px;
    border-radius: 3px;
    outline: 0;
    transition: box-shadow 0.3s, opacity 0.3s, outline-color 0.3s;
  }

  a:focus {
    box-shadow: 0 0 0 2px $green-200;
  }

  a:hover {
    opacity: 0.7;
  }

  a:active {
    opacity: 0.4;
  }
}

.social {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 12px;
  }

  &__link {
    width: 32px;
    height: 32px;
    display: block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__link--facebook {
    background-image: url("../images/icons/facebook.svg");
  }

  &__link--youtube {
    background-image: url("../images/icons/youtube.svg");
  }

  &__link--telegram {
    background-image: url("../images/icons/telegram.svg");
  }

  &__link--instagram {
    background-image: url("../images/icons/instagram.svg");
  }
}

.card {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 24px;
  }

  &__block {
    height: 29px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__block--visa {
    width: 93px;
  }

  &__block--mastercard {
    width: 49px;
  }
}