html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  font-family: "Lato", "Arial", sans-serif;
  color: $dark-800;
  background-color: $white;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  max-width: 200px;
  display: inline-block;
  border-radius: 5px;
  @extend %animation-btn;

  &__img {
    object-fit: contain;
  }
}

.catalog-dropdown {
  position: relative;
  z-index: 1;

  &__btn {
    position: relative;
    padding: 16px 48px 15px 61px;
    display: block;
    font-weight: 600;
    white-space: nowrap;
    color: $green-900;
    background-color: $white;
    border: none;
    border-radius: 6px;
    outline: 0;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;

    &::before {
      content: "";
      position: absolute;
      top: 16px;
      left: 18px;
      width: 25px;
      height: 17px;
      background-image: url("../images/icons/nav.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    &::after {
      content: "";
      position: absolute;
      top: 23px;
      right: 18px;
      width: 8px;
      height: 4px;
      background-image: url("../images/icons/arrow-down.svg");
      background-repeat: no-repeat;
      background-size: contain;
      transition: transform 0.3s;
    }

    &:focus {
      box-shadow: inset 0 0 0 3px $dark-500;
    }

    &:hover,
    &--active {
      background-color: $green-200;
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba($black, 0.5);
    }

    &--active {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;

      &::after {
        transform: scale(-1);
      }
    }
  }

  &__list {
    display: none;
    position: absolute;
    width: 100%;
    background-color: $white;
    border: 1px solid $silver-400;
    border-radius: 0 0 6px 6px;

    &--active {
      display: block;
    }
  }

  &__item:not(:last-child) {
    border-bottom: 1px solid rgba($silver-600, 0.3);
  }

  &__link {
    padding: 15px 24px;
    display: block;
    font-size: 16px;
    line-height: 1.2;
    color: $black;
    border-left: 3px solid transparent;
    outline: 0;
    transition: color 0.3s, border-left-color 0.3s, box-shadow 0.3s;

    &:focus {
      box-shadow: 0 0 0 3px $dark-500;
    }

    &:hover {
      color: $green-900;
      border-left-color: $green-900;
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba($black, 0.5);
    }
  }
}

.icon {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 12px;
  }
}

.icon-btn {
  position: relative;
  width: 50px;
  height: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  border-radius: 3px;
  @extend %animation-btn;

  &:hover {
    background-color: rgba($white, 0.1);
  }

  svg {
    fill: $white;
    width: 32px;
    height: 32px;
  }

  &__number {
    position: absolute;
    top: 3px;
    left: 3px;
    padding: 2px 3px;
    font-weight: 600;
    font-size: 10px;
    color: $red-900;
    background-color: $white;
    border-radius: 9px;
  }
}

.button {
  padding: 11px 25px;
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: $white;
  background-color: $green-900;
  border-radius: 6px;
  @extend %animation-btn;
}

.title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 32px;
  font-family: "Signika", "OpenSans", "Trebuchet MS", sans-serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $dark-900;
}

.mix-filter {
  display: flex;
  font-weight: 700;
  font-size: 15px;

  &__item:not(:last-child) {
    margin-right: 25px;
  }

  &__btn {
    padding: 0;
    color: $dark-500;
    text-transform: uppercase;
    background-color: transparent;
    border-width: 0 0 3px 0;
    border-style: solid;
    border-bottom-color: transparent;
    border-radius: 3px 3px 0 0;
    outline: 0;
    transition: border-bottom-color 0.3s, box-shadow 0.3s;

    &:focus {
      box-shadow: 0 0 0 4px $green-200;
    }

    &--active,
    &:hover {
      border-bottom-color: $green-200;
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba($black, 0.5);
    }
  }
}

.product-card {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba($black, 0.2);
  border-radius: 6px;
  transition: border-color 0.3s;

  &:hover {
    border-color: $green-900;
  }

  &__top {
    min-height: 52px;
    padding: 12px 12px 2px;
    display: flex;
    justify-content: space-between;
  }

  &__labels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: $white;
  }

  &__label {
    padding: 1px 6px;
    border-radius: 6px;

    &:not(:last-child) {
      margin-bottom: 6px;
    }

    &--green {
      background-color: $green-900;
    }

    &--red {
      background-color: $red-900;
    }

    &--orange {
      background-color: $orange-900;
    }
  }

  &__favorite {
    align-self: center;
    padding: 0;
    display: flex;
    background-color: transparent;
    border: 0;
    border-radius: 3px;
    outline: 0;
    transition: box-shadow 0.3s;

    svg {
      width: 32px;
      height: 29px;
      fill: $silver-600;
      transition: fill 0.3s;
    }

    &:focus {
      box-shadow: 0 0 0 4px rgba($yellow-900, 0.3);
    }

    &:hover svg {
      fill: $yellow-900;
    }

    &:active svg {
      fill: $green-900;
    }
  }

  &__link {
    position: relative;
    min-height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;

    img {
      object-fit: contain;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: background-color 0.3s;
    }

    &::after {
      content: "";
      position: absolute;
      top: calc(50% - 24px);
      left: calc(50% - 24px);
      width: 48px;
      height: 48px;
      background-image: url("../images/icons/search-green.svg");
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: center;
      background-color: $white;
      border-radius: 24px;
      opacity: 0;
      transition: background-color 0.3s, transform 0.2s, opacity 0.3s;
    }

    &:focus::before {
      background-color: rgba($yellow-900, 0.1);
    }

    &:hover::before {
      background-color: rgba($black, 0.1);
    }

    &:focus::after,
    &:hover::after {
      opacity: 1;
    }

    &:active::after {
      transform: scale(1.2);
    }
  }

  &__title {
    flex-grow: 1;
    min-height: 72px;
    padding: 14px 18px 0;
    font-weight: 600;
    font-size: 14px;
    @include line-clamp(3);
  }

  &__bottom {
    padding: 10px 16px 18px 21px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    line-height: 1.2;
  }

  &__price {
    display: flex;
    flex-direction: column;
  }

  &__old-price {
    position: relative;
    color: $silver-600;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      width: 100%;
      height: 1px;
      display: block;
      background-color: $silver-600;
      transform: rotate(-15deg);
    }
  }

  &__new-price {
    color: $dark-500;
  }

  &__cart {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green-900;
    border: none;
    border-radius: 3px;
    @extend %animation-btn;

    svg {
      width: 16px;
      height: 16px;
      fill: $white;
      transition: fill 0.3s;
    }

    &:active svg {
      fill: rgba($white, 0.5);
    }
  }
}

.address {
  font-style: normal;

  li:not(:last-child) {
    margin-bottom: 18px;
  }

  a {
    padding-left: 4px;
    border-radius: 3px;
    outline: 0;
    transition: box-shadow 0.3s, opacity 0.3s, outline-color 0.3s;

    &:focus {
      box-shadow: 0 0 0 2px $green-200;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.4;
    }
  }
}

.social {
  display: flex;
  flex-wrap: wrap;

  &__item:not(:last-child) {
    margin-right: 12px;
  }

  &__link {
    width: 32px;
    height: 32px;
    display: block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    @extend %animation-inline;

    svg {
      width: 32px;
      height: 32px;
      fill: $white;
    }
  }
}

.bank-card {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 24px;
  }
}