html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  font-family: "Lato", "Arial", sans-serif;
  color: $dark-800;
  background-color: $white;
}

.main {
  position: relative;
  z-index: 1;
  flex-grow: 1;
  padding-top: 160px;

  @include media-w($lg) {
    padding-top: 136px;
  }

  @include media-w($sm) {
    padding-top: 112px;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-mobile {
  @include media-w($sm) {
    overflow: hidden;
  }
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-weight: 700;
  font-size: 32px;
  font-family: "Signika", "OpenSans", "Trebuchet MS", sans-serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $dark-900;

  @include media-w($md) {
    font-size: 28px;
  }

  @include media-w($xs) {
    font-size: 24px;
  }
}

.subject {
  display: block;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $dark-900;
}