html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  font-family: "Lato", "Arial", sans-serif;
  color: $dark-800;
  background-color: $white;
}

.main {
  flex-grow: 1;
}

.overflow-hidden {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: 7;
  transition: left 0s 0.5s, background-color 0.5s;

  &--active {
    transition: background-color 1s;
    left: 0;
    background-color: rgba($black, 0.2);
  }
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 32px;
  font-family: "Signika", "OpenSans", "Trebuchet MS", sans-serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $dark-900;
}

.title-cart {
  font-weight: inherit;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: $black;
}