$green-900: #63a60f;
$green-800: #4d810c;
$green-200: #e0edcf;
$green-100: #eff6e7;

$dark-900: #121212;
$dark-800: #31352b;
$dark-700: #4f4f4f;
$dark-500: #505050;

$red-900: #cf3e3b;
$orange-900: #ff7a00;
$yellow-900: #ffb800;

$silver-600: #c1c1c1;
$silver-500: #c4c4c4;
$silver-400: #ebebeb;
$silver-200: #f5f5f5;
$silver-100: #f6f6f6;

$white: #ffffff;
$black: #000000;

$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 576px;
$xxs: 374px;

$el: ellipsis;
$cl: clip;

%input-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

@mixin media-w($point) {
  @media (max-width: $point) {
    @content;
  }
}

@mixin line-clamp($lines) {
  -webkit-line-clamp: $lines;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin text-overflow($value) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: $value;
}