.logo {
  max-width: 200px;
  display: inline-block;
  border-radius: 5px;
  @extend %animation-btn;

  &__img {
    object-fit: contain;

    @include media-w($lg) {
      max-height: 50px;
      max-width: 170px;
    }
  }
}