.close-btn {
  position: absolute;
  top: 19px;
  right: 13px;
  padding: 13px;
  display: flex;
  background-color: transparent;
  border: none;
  transition: background-color 0.3s;

  svg {
    width: 24px;
    height: 24px;
    fill: $black;
  }

  &:active {
    background-color: rgba($silver-600, 0.3);
  }
}