.brand {
  max-width: 1450px;
  margin: 0 auto;
  padding-top: 71px;
  padding-bottom: 71px;

  @include media-w($lg) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__item {
    padding-right: 10px;
    padding-left: 10px;
    opacity: 0.5;
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
    }

    img {
      margin: 0 auto;
      object-fit: contain;
    }
  }

  .slick-track {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}