.footer {
  color: $white;
  background-color: $dark-800;

  &__top {
    padding-top: 30px;
    border-bottom: 1px solid rgba($white, 0.1);
  }

  &__logo {
    margin-bottom: 28px;

    &:hover {
      background-color: $dark-500;
    }
  }

  &__top-inner {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }

  &__subscription {
    flex-basis: 300px;
    margin-right: 30px;
  }

  &__text {
    margin-bottom: 16px;
    display: block;
    line-height: 1;
    @include line-clamp(1);
  }

  &__nav {
    margin-right: 30px;
  }

  &__menu {
    height: 100%;
    grid-template: auto / repeat(3, auto);
    grid-gap: 6px 84px;

    @include media-w($lg) {
      grid-template-columns: repeat(2, auto);
      grid-column-gap: 40px;
    }
  }

  &__bottom-inner {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__contact {
    max-width: 220px;
  }

  &__address {
    margin-bottom: 18px;
  }

  &__copy {
    padding-left: 6px;
    text-transform: uppercase;
    @include line-clamp(1);
  }
}