.header {
  letter-spacing: 0.03em;
  background-color: $green-900;

  &__top {
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    color: $white;
    background-color: $dark-800;
  }

  &__top-inner {
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__contacts {
    display: flex;
  }

  &__contacts a:not(:last-child) {
    margin-right: 48px;
  }

  &__menu {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 24px;
  }

  &__link {
    padding-top: 13px;
    padding-bottom: 13px;
    display: block;
    @extend %animation-inline;
  }

  &__inner {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;

    @include media-w($lg) {
      padding-top: 18px;
      padding-bottom: 18px;
    }
  }

  &__logo {
    flex-shrink: 0;
    margin-right: 24px;

    @include media-w($lg) {
      margin-right: 15px;

      img {
        max-height: 50px;
        max-width: 170px;
      }
    }
  }

  &__catalog-dropdown {
    margin-right: 30px;

    @include media-w($lg) {
      margin-right: 15px;
    }
  }

  &__search-form {
    flex-basis: 577px;
    margin-right: 32px;

    @include media-w($lg) {
      margin-right: 15px;
    }
  }

  &__icon {
    display: flex;
  }

  &__icon-item:not(:last-child) {
    margin-right: 12px;

    @include media-w($lg) {
      margin-right: 6px;
    }
  }
}