.news {
  margin-bottom: 76px;

  @include media-w($lg) {
    margin-bottom: 60px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__link {
    padding-top: 7px;
    padding-bottom: 4px;
    font-weight: 700;
    text-transform: uppercase;
    color: $green-900;
    border-bottom: 2px solid $green-900;
    border-radius: 4px 4px 0 0;
    outline: 0;
    transition: box-shadow 0.3s, color 0.3s;

    &:focus {
      box-shadow: 0 0 0 2px $green-900;
    }

    &:hover {
      color: $green-800;
      border-color: $green-800;
    }

    &:active {
      box-shadow: 0 0 0 2px $green-800;
      color: $green-800;
      border-color: $green-800;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    flex-basis: 410px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}