.promo {
  padding-top: 73px;
  padding-bottom: 70px;
  background-color: $silver-200;

  @include media-w($lg) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__mix-filter {
    margin-bottom: 35px;
    letter-spacing: 0.1em;

    @include media-w($lg) {
      margin-bottom: 20px;
    }

    li:not(:last-child) {
      margin-right: 23px;
    }
  }

  &__flex {
    align-self: stretch;
    margin-right: -15px;
    margin-bottom: 32px;
    margin-left: -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include media-w($lg) {
    }
  }

  &__item {
    padding: 15px;
    display: flex;
    justify-content: center;
  }
}