.sub-form {
  display: flex;

  &__input {
    position: relative;
    z-index: 2;
    flex-grow: 1;
    padding: 13px 12px;
    border: none;
    border-radius: 6px 0 0 6px;
    @extend %animation-field;

    &::placeholder {
      color: $dark-700;
    }

    @include media-w($xxs) {
      padding: 13px 5px;
    }
  }

  &__button {
    position: relative;
    z-index: 1;
    padding: 12px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: $white;
    background-color: $green-900;
    border: none;
    border-radius: 0 6px 6px 0;
    @extend %animation-btn;

    @include media-w($xxs) {
      padding: 6px;
    }
  }
}