.product-mini {
  display: block;
  border: 1px solid rgba($black, 0.2);
  border-radius: 6px;
  @extend %animation-card;

  &__article {
    max-width: 300px;
    padding: 12px;
    display: flex;
    letter-spacing: 0.03em;
    background-color: $white;
    border-radius: 6px;
  }

  &__image-box {
    position: relative;
  }

  img {
    position: relative;
    object-fit: contain;
  }

  &__badge {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__content {
    flex-grow: 1;
    max-width: 164px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
  }

  &__title {
    flex-grow: 1;
    font-weight: 600;
    font-size: 14px;
    @include line-clamp(3);
  }

  &__info {
    display: flex;
    align-items: flex-end;
  }

  &__price {
    margin-right: 9%;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    color: $dark-500;
  }

  &__currency {
    font-size: 14px;
  }

  &__old-price {
    margin-right: 5px;
    font-size: 12px;
  }

  &__rating {
    flex-grow: 1;
  }
}